@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "ColfaxAI", Arial, Helvetica, sans-serif; /* changed font-family */
  font-size: 14px;
  line-height: 1.6;
  padding: 0; /* removed padding */
  margin: 0; /* removed margin */
  background-color: #252525; /* changed background color */
  color: #fff; /* changed text color */
  min-height: 100vh; /* added */
  height: 100vh; /* added */
  display: flex; /* added to center the chatbox */
  align-items: center; /* added to center the chatbox */
  justify-content: center; /* added to center the chatbox */
}


h3 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}


input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 80%;
  background-color: #f5f5f5;
  color: #252525;
}

input[type="submit"] {
  background-color: #4CAF50; /* Green background color */
  color: white; /* White text color */
  padding: 14px 20px; /* Padding */
  border: none; /* Remove border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Add a cursor on hover */
  font-weight: bold; /* Bold font */
  transition: background-color 0.3s ease; /* Add a transition effect on hover */
}

input[type="submit"]:hover {
  background-color: #3e8e41; /* Darker green background color on hover */
}



.chatbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.history {
  height: calc(100% - 60px);
  overflow-y: auto;
  max-height: 400px;
  padding: 20px;
}




.message-box {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.message-box.user {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: left;
}

.message-box.bot {
  background-color: #050505;
  color: rgb(103, 230, 18);
  text-align: middle;
}


#chat-form {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.history {
  overflow-y: auto;
  max-height: calc(100vh - 80px); /* subtract the height of the input box */
  padding: 20px;
}


.send-button {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}